.body{
    background-color: black;
}
.heading{
    color: orange;
}
.span{
    background-color: null ;
}
.paraSpans{
    color: yellow;
     font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;
}
.sessionspans{
    color: chartreuse;
}
.divspans{
    color: yellow;
    font-size: large;
    font-style: italic;
}
.spanhtml{
    background-color: red;
    color: black;
}
.spancss{
    background-color: blueviolet;
    color: black;
}
.spanJS{
    background-color: yellow;
    color: black;
}
